<!DOCTYPE html>
<html>
<head>
  <title>RedditBackbone</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="root" id="root">
  <%= yield %>
</div>
<%= javascript_include_tag "application" %>
<%= yield :javascript %>
</body>
</html>
